// Importa as definições globais
@use 'variables' as *;

body{
    background-color: tomato;
}

/* --- Configurações de Base --- */

// html {
//     scroll-behavior: smooth;
// }
html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-main;
    color: $black-bg;
}

/* Tipografia de Impacto */
h1, h2, h3, .btn-hero {
    font-family: $font-heading;
    text-transform: uppercase;
}

.text-red { color: $primary-red; }

/* --- Preloader --- */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black-bg;
    z-index: 999999; // Fica por cima de tudo
    display: flex; 
    justify-content: center;
    align-items: center;

    .spinner {
        width: 50px;
        height: 50px;
        border: 5px solid rgba($primary-red, 0.2);
        border-top-color: $primary-red;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
}

.btn-back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: var(--dark-red);// Sobriedade
    color: #fff;
    border: 2px solid #ffffff;
    border-radius: 10px; // Redondinho
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;
    z-index: 1000;
    
    // Começa invisível e "caído"
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.4s ease;

    &:hover {
        background-color:  var(--black-bg); ;
        transform: translateY(-5px); // Efeito de levante no hover
        border-color: #ffffff;
    }

    // Classe que o JS vai ativar
    &.show {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

main{
     margin-top: 85px !important;
    
}


/* Força o font-display swap em todas as fontes do site, incluindo as do FontAwesome */
@font-face {
    font-family: 'Font Awesome 6 Free';
    font-display: swap;
}

@font-face {
    font-family: 'Font Awesome 6 Brands';
    font-display: swap;
}