@use "variables" as *;

/* ==========================================================================
   LOGO SIMULATION - POA CAR SERVICE
   ========================================================================== */

.logo-navbar {
  width: 375px;
  height: 95px;
  max-width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-offcanva {
  margin: 15px 0px 30px 0px;
}
